@media only screen and (max-width: 844px) 
{
    .super-container{
        padding-left: 30px;
        padding-right: 30px;
    }
    .card{
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        
    }

    .profile-container
    {
        margin: 0;
    }

    .profile{
        width: 150px;
        height: 150px;
        border-radius: 50%;
        padding: 0;
        margin: 0;
        object-fit: cover;
    }

    h1{
        font-size: 20px;
    }

    p{
        font-size: 16px;
    }

    .btn{
        border-radius: 20px;
        transition: background-color 0.71s,
        border-color 0.71s,
        color 0.71s,padding-left 0.71s,
        padding-right 0.71s;
        margin: 0;
    }
    
    .btn:hover{
        background-image: none;
        background-color: white;
        border-color: #6228D7;
        color: #EE2A7B;
        border-width: 1px;
        border-style: solid;
        padding-left: 30px;
        padding-right: 30px;
    }
}